*.swift linguist-language=Swift
*.m linguist-language=Objective-C
*.h linguist-language=C
*.md linguist-documentation
File\ Templates/Source/NSOperation\ Test\ Case.xctemplate/XCTestCaseObjective-C linguist-vendored
